<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark header">
	<a class="navbar-brand py-0" href="/">
	  <p class="mb-0">Cameron Hopkins</p>
	  <p class="mb-0">Software Engineer | Game Designer</p>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeaderToggler" aria-controls="navbarHeaderToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarHeaderToggler">
		<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</div>
</nav>
