<page-title [title]="'About Me'"></page-title>
<div *ngIf="content">
	<div *ngIf="content.bio">
		<h4>Who am I?</h4>
		<p class="ml-3">{{content.bio}}</p>
	</div>

	<hr />

	<div *ngIf="brokenUpHobbyList">
		<h4>What I like to do for fun</h4>
		<div class="ml-3 row">
			<div class="col-sm-3" *ngFor="let hobbyList of brokenUpHobbyList">
				<p class="mb-0" *ngFor="let hobby of hobbyList">
					{{hobby}}
				</p >
			</div>
		</div>
	</div>

	<hr />

	<div *ngIf="content.favoriteGames">
		<h4>I love playing video games, so here are some of my favorite</h4>
		<div class="ml-3 row">
			<div class="col-sm-3" *ngFor="let favoriteGame of content.favoriteGames">
				<p class="mb-1 font-weight-bold">{{favoriteGame.category}}</p>
				<p class="mb-0" *ngFor="let game of favoriteGame.games">
					{{game}}
				</p >
			</div>
		</div>
	</div>
</div>
